<div class="step-question">
  <div class="step-container">
    <div class="main">{{ form }}</div>
  </div>
  <div class="help">
    <span>Mehrfamilienhaus:</span>Ein Einfamilienhaus ist ein Wohngebäude, das für die Nutzung durch eine einzige Familie vorgesehen ist. Ein Zweifamilienhaus hingegen ist ein Gebäude, das für die Nutzung durch zwei Familien ausgelegt ist. Es besteht aus zwei getrennten Wohneinheiten.
    <br />
    <span>Ein- oder Zweifamilienhaus:</span>Wohngebäude, das mehrere separate Wohneinheiten enthält, die von verschiedenen Familien oder Haushalten bewohnt werden.
  </div>
</div>
