<div class="step-question">
  <div class="step-container">
    <div class="main">
      {{ form }}
      {% csrf_token %}
    </div>
  </div>
  <div class="help">
    <span>Zentralheizung:&nbsp;</span>Die Wärme wird in einem zentralen Kessel oder Heizkessel erzeugt und über ein Rohrnetzwerk an Heizkörper oder Fußbodenheizungen in den verschiedenen Räumen eines Gebäudes verteilt.
    <br />
    <span>Etagenheizung:&nbsp;</span>Heizsystem, bei dem jede Wohnung oder Etage eines Gebäudes ihre eigene Heizungsanlage hat.
    <br />
    <span>Nachtspeicherheizung:&nbsp;</span>Elektrisches Heizsystem, das Wärme während der Nacht speichert, wenn die Stromtarife günstiger sind, und diese Wärme tagsüber abgibt.
  </div>
</div>
