<div class="step-question">
  <div class="step-container">
    <div class="main">
      {{ form }}
      {% csrf_token %}
    </div>
  </div>
  <div class="help">
    <span>Boiler:&nbsp;</span>Beheizter Speicherbehälter, der Wasser kontinuierlich auf einer voreingestellten Temperatur hält, um jederzeit warmes Wasser zur Verfügung zu stellen.
    <br />
    <span>Durchlauferhitzer:&nbsp;</span>Erwärmt Wasser nur bei Bedarf direkt beim Durchfluss, was eine platzsparende und energieeffiziente Methode der Warmwasserbereitung darstellt.
    <br />
    <span>Heizanlage:&nbsp;</span>System zur Erzeugung und Verteilung von Wärme in einem Gebäude, das aus Komponenten wie einem Heizkessel, Rohrleitungen, Heizkörpern und Steuerungseinrichtungen besteht.
  </div>
</div>
