<div class="step-question">
  <div class="step-container">
    <div class="main">
      {{ form }}
      {% csrf_token %}
      <div class="info-text">
        <p>Eine Solarthermie-Anlage wandelt Sonnenlicht mithilfe von Kollektoren (Flach- oder
          Vakuumröhrenkollektoren) in Wärme um. Diese wird über eine Trägerflüssigkeit weitergeleitet und für
          Warmwasser oder zur Heizungsunterstützung genutzt.</p>
        <p><b>Woran erkenne ich eine Solarthermie-Anlage?</b></p>
        <div class="category-content">
          <ul>
            <li><b>Dunkle Kollektoren auf dem Dach</b>, schmaler und weniger glänzend als Solarmodule</li>
            <li><b>Zusätzliche Wärmespeicher</b> mit Solaranschlüssen im Heizungsraum</li>
            <li><b>Hinweise in den Heizungsunterlagen</b> oder Auskunft von Hausverwaltung/Installateur</li>
          </ul>
          <p>Falls Sie unsicher sind, werfen Sie einen Blick aufs Dach oder in den Heizraum - oft geben diese
              Merkmale erste Hinweise.</p>
        </div>
      </div>
    </div>
  </div>
</div>
