<form id="orientationForm">
  {% csrf_token %}

  {% for value,label in form.fields.roof_orientation.choices %}
    <label class="radio-position {{ value }}">
      <input
        type="radio"
        name="roof_orientation"
        value="{{ value }}"
        required
        hx-post="{% url 'heat:roof' %}"
        hx-trigger="change"
        hx-target="#roof_inclination_known"
        hx-swap="innerHTML"
        hx-include="#orientationForm"
      >
      <span class="radio-label">{{ label }}</span>
    </label>
  {% endfor %}

</form>
