<div class="step-question">
  <div class="step-container">
    <div class="main">{{ form }}</div>
  </div>
  <div class="help">
    <span>Flachdach:&nbsp;</span>Ein Flachdach ist ein Dach mit einer sehr geringen Neigung, das fast waagerecht verläuft.
    <br />
    <span>Walmdach:&nbsp;</span>Ein Walmdach ist ein Dach, bei dem nicht nur die Längsseiten, sondern auch die Giebelseiten geneigt sind. Dies führt zu vier Dachflächen, die alle nach unten abfallen.
    <br />
    <span>Satteldach:&nbsp;</span>Ein Satteldach ist die häufigste Dachform, bei der zwei geneigte Dachflächen an einer Linie (dem First) aufeinandertreffen.
    <br />
    <span>Pultdach:&nbsp;</span> Ein Pultdach besteht aus nur einer geneigten Dachfläche. Diese einfache Dachform wird oft bei Anbauten oder modernen Häusern verwendet.
    <br />
    <span>Mansarddach:&nbsp;</span> Ein Mansarddach ist eine besondere Form des Walmdachs oder Satteldachs mit zwei verschiedenen Neigungen auf jeder Seite. Die untere Neigung ist steiler als die obere.
  </div>
</div>
