<div class="step-question">
  <div class="step-container">
    <div class="main">
      {{ form }}
      {% csrf_token %}
    </div>
  </div>
  <div class="help">
    <span>Einfachverglaste Fenster:&nbsp;</span>Sie bieten nur einen minimalen Wärmeschutz und sind daher in modernen Gebäuden aufgrund ihrer schlechten Isoliereigenschaften selten anzutreffen.
    <br />
    <span>Zweifachverglaste Fenster mit Verbund- oder Kastenbauweise:&nbsp;</span>Sie nutzen eine Luftschicht zur Isolierung, bieten jedoch nicht die gleiche Energieeffizienz wie moderne Wärmeschutzverglasungen.
    <br />
    <span>Zweifach-Wärmeschutzverglasung:&nbsp;</span>Sie verbessert die Energieeffizienz deutlich durch eine spezielle Beschichtung und Edelgasfüllung zwischen den Scheiben.
    <br />
    <span>Dreifach-Wärmeschutzverglasung:&nbsp;</span>Sie bietet den höchsten Isolationswert unter den Fenstertypen, was zu einer erheblichen Reduzierung der Wärmeverluste und somit zu Energieeinsparungen führt.
  </div>
</div>
