{% extends "base_footer_button.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>Angaben zum Gebäude</h1>
          <div class="info-box">
            <p>Hier geben Sie die wichtigsten Angaben zu Ihrem Gebäude an. Diese Informationen helfen, die Gebäudeart
              mit wichtigen Details zu ergänzen.</p>
            <p>Tragen Sie die entsprechenden Werte ein. Falls Ihnen keine genauen Angaben vorliegen, genügt eine Schätzung.</p>
          </div>
        </div>
      </div>
      <div class="help"></div>
    </div>
    <div id="building_data"
      hx-post=""
      hx-trigger="keyup change delay:1000ms, change"
      hx-swap="show:bottom"
      hx-include="this">{{ building_data.content | safe }}</div>
  </section>
{% endblock content %}
