{% extends "base_footer_button.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>Angaben zum Gebäude</h1>
          <div class="info-box">
            Bitte machen Sie einige grundlegende Angaben zu Ihrem Gebäude. Diese Informationen ermöglichen eine präzise
            Zuordnung zu einem passenden Gebäudestandard. Falls Ihnen keine exakten Werte vorliegen, können Sie eine
            Schätzung abgeben.
          </div>
        </div>
      </div>
      <div class="help"></div>
    </div>
    <div id="building_type" hx-post="" hx-trigger="change" hx-swap="show:bottom" hx-include="this">{{ building_type.content | safe }}</div>
    <div class="step-question">
      <div class="step-container">
        <div id="building_details"
          hx-post=""
          hx-trigger="keyup change delay:1000ms"
          hx-swap="show:bottom"
          hx-include="this"
          class="main">{{ building_details.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div id="monument_protection"
      hx-post=""
      hx-trigger="change"
      hx-swap="show:bottom"
      hx-include="this">{{ monument_protection.content | safe }}</div>
  </section>
{% endblock content %}
