{% extends "base_footer_button.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>Gebäudeart</h1>
          <div class="info-box">
            Um was für ein Gebäudetyp handelt es sich? <br>
            Bitte geben Sie die Grunddaten ein.
          </div>
        </div>
      </div>
      <div class="help"></div>
    </div>
    <div id="building_type" hx-post="" hx-trigger="change" hx-swap="show:bottom" hx-include="this">{{ building_type.content | safe }}</div>
    <div id="monument_protection"
      hx-post=""
      hx-trigger="change"
      hx-swap="show:bottom"
      hx-include="this">{{ monument_protection.content | safe }}</div>
  </section>
{% endblock content %}
