{% extends "base_footer_button.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>Verbrauchsabrechnungen Übersicht</h1>
          Für die Bewertung und weitere Berechnungen werden Wärme- und Stromverbrauchsdaten für jeweils mindestens einen Abrechnungszeitraum benötigt.
          <br />
          Rechts kannst du mit klick auf "X" Verbrauchsabrechnungen wieder löschen und mit klick auf "E" deine Daten bearbeiten. Du kannst jeweils 1 bis 3 Zeiträume an Wärme- und Stromverbrauchsdaten eingeben. Mindestens eins jeweils ist erforderlich, um das Verbrauchsergebnis zu berechnen.
          {% if not_finished_flows %}
            <br /> <br />
            <p>Leider fehlen die folgenden Eingaben noch, um eine Verbrauchsabrechnungen hinzuzufügen:</p>
            <ul>
              {% for flow in not_finished_flows %}
                <li>{{ flow }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="help" id="flow-instance-boxes">
        {% for box in year_boxes %}
          <c-layouts.consumption :box="box"></c-layouts.consumption>
        {% endfor %}
      </div>
    </div>
    <div class="d-flex justify-content-between step-button">
      <form action="{% url 'heat:consumption_input' year='new_year' %}"
            method="get">
        <button class="btn btn-primary" {% if max_reached or not_finished_flows %}disabled{% endif %}>Verbrauch hinzufügen</button>
      </form>
    </div>
  </section>
{% endblock content %}
