{% extends "base_footer_button.html" %}

{% load static %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="help-background"></div>
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>Verbrauchseingabe</h1>
        </div>
      </div>
      <div class="help"></div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="consumption_type"
          hx-post=""
          hx-trigger="change"
          hx-include="this"
          class="main">{{ consumption_type.content | safe }}</div>
        <div class="help" id="flow-instance-boxes">
          {% for box in year_boxes %}
            <c-flow-instance-box type="{{ box.type_class }}" id="{{ box.id }}" href="{{ box.href }}" title="{{ box.title }}">
            {{ box.text }}
            </c-flow-instance-box>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="consumption_power"
          hx-post=""
          hx-trigger="keyup change delay:500ms"
          hx-include="this"
          class="main">{{ consumption_power.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="consumption_heating"
          hx-post=""
          hx-trigger="keyup change delay:500ms"
          hx-include="this"
          class="main">{{ consumption_heating.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="consumption_hotwater"
          hx-post=""
          hx-trigger="change"
          hx-include="this"
          class="main">{{ consumption_hotwater.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="consumption_hotwater_temp"
          hx-post=""
          hx-trigger="keyup change delay:500ms"
          hx-include="this"
          class="main">{{ consumption_hotwater_temp.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script defer src="{% static 'js/consumption_disabled_trigger.js' %}"></script>
{% endblock javascript %}
