{% extends "base_footer_button.html" %}

{% block main %}
  <div class="container my-5">
    <h2>🚧 Sackgasse für Mieter*innen - Was kann ich dennoch tun?</h2>
    <p>Auch wenn Sie als Mieter*in nicht direkt über Modernisierungen am Gebäude entscheiden, können Sie <b>building dialogue</b> dazu nutzen, energetische Zusammenhänge besser zu verstehen und sich über mögliche Sanierungsmaßnahmen zu informieren.</p>
    <p>Gehen Sie dazu zurück und wählen den button <b>Starten</b>. Es kann sein, dass Ihnen nicht alle Gebäudedaten vorliegen, die im Tool abgefragt werden. Das ist kein Hindernis – Sie können trotzdem mit den Ihnen bekannten Informationen arbeiten, um eine erste Orientierung zu gewinnen und die richtigen Fragen zu stellen.</p>
    <p>💡 <b>Wissen, was möglich ist</b><br>
    Erkunden Sie sich, welche Sanierungsmaßnahmen und Technologiewechsel es gibt und welche Auswirkungen diese auf Energieverbrauch und CO₂-Emissionen haben könnten.</p>

    <p>🗣️ <b>Austausch anregen</b><br>
    Nutzen Sie Ihr Wissen, um mit Eigentümer*innen oder der Hausverwaltung ins Gespräch zu kommen. Ein informierter Austausch kann helfen, nachhaltige Lösungen zu diskutieren.</p>
  </div>
{% endblock main %}
