{% extends "base_footer_button.html" %}

{% block main %}
  <div class="container my-5">
    <h2>Dead End</h2>
    <p>Das <b>StEmp-Tool Wärme 2.0</b> berücksichtigt derzeit keine spezifischen Anforderungen, die durch den Denkmalschutz
      entstehen.<br>
      Maßnahmen zur energetischen Sanierung sind bei denkmalgeschützten Gebäuden oft eingeschränkt, da
      Materialien, Techniken und das äußere Erscheinungsbild den Vorgaben der Denkmalschutzbehörden entsprechen müssen.</p>
      <p>Falls Sie sich nicht sicher sind, ob Ihr Gebäude unter Denkmalschutz steht, können Sie die Denkmalliste Ihrer
      zuständigen Denkmalbehörde einsehen.<br>
      Eine Beispiel-Datenbank ist die
      <a href="https://www.berlin.de/landesdenkmalamt/denkmale/liste-karte-datenbank/denkmalliste/" target="_blank"
             rel="noopener noreferrer">Denkmalliste Berlin</a>.</p>
      <p>Sie können das Tool jedoch nutzen, um sich über mögliche Sanierungsmaßnahmen und deren Einsparpotenziale zu informieren.</p>

      <p>Vielen Dank für Ihr Verständnis!</p>
  </div>
{% endblock main %}
