{% extends "base_footer_button.html" %}

{% block main %}
  <div class="container my-5">
    <h2>Dead End</h2>
    <p>Das <b>StEmp-Tool Wärme 2.0</b> basiert auf Informationen, die Ihnen als Mieter:in möglicherweise nicht vollständig
      vorliegen.<br>
      Die Berechnungen orientieren sich zudem an den Befugnissen von Eigentümer:innen.<br>
      Daher können wir
      leider keine Ergebnisse aus der Perspektive von Mieter:innen anbieten.</p>
    <p>Sie können das Tool jedoch nutzen, um sich über mögliche Sanierungsmaßnahmen und deren Einsparpotenziale zu informieren.</p>
    <p>Vielen Dank für Ihr Verständnis!</p>
  </div>
{% endblock main %}
