{% extends "base_footer_button.html" %}

{% block main %}
  <div class="container my-5">
    <h2>Was kann ich tun?</h2>
    <p><b>building dialogue</b> berücksichtigt derzeit keine spezifischen Anforderungen für <b>denkmalgeschützte Gebäude</b>.
    Energetische Sanierungsmaßnahmen unterliegen hier besonderen Auflagen, da Materialien, Bauweisen und das äußere
    Erscheinungsbild den Vorgaben der Denkmalschutzbehörden entsprechen müssen.
    Leider kann das Tool daher keine hinreichend genauen Empfehlungen für Ihr Gebäude geben.</p>
    <p>💡 <b>Wissen, was möglich ist</b><br>
    Erkunden Sie sich, welche Sanierungsmaßnahmen und Technologiewechsel es gibt und welche Auswirkungen diese auf
    Energieverbrauch und CO₂-Emissionen haben könnten.</p>
  </div>
{% endblock main %}
