{% extends "base_footer_button.html" %}

{% block main %}
  <div class="container my-5">
    <h2>Dead End</h2>
    <p>
      Als Eigentümer*in oder Hausverwaltung eines Ein- oder Mehrfamilienhauses mit dezentraler Heizanlage (Etagenheizung oder Nachtspeicherheizung) verfügen Sie leider nicht über die nötigen Daten für unsere Modernisierungsberatung. Typischerweise dürfte Ihnen nur der „theoretische“ Energiebedarf des Gebäudes laut Energiebedarfsausweis bekannt sein. Für unsere Analyse sind jedoch die wesentlich genaueren Angaben des „realen“ Gesamtverbrauchs nötig.
    </p>
    <p>Aber Sie können trotzdem folgendes tun:</p>
    <ul>
      <li>...</li>
      <li>...</li>
    </ul>
  </div>
{% endblock main %}
