{% extends "base_footer_button.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>Förderung</h1>
          <div class="info-box">
            Beabsichtigen Sie, staatliche Förderung in Anspruch zu nehmen? <br>
            Dann können Sie hier gezielt Maßnahmen auswählen. Diese können bei der Berechnung der Finanzierung berücksichtigt werden.
          </div>
        </div>
      </div>
      <div class="help"></div>
    </div>
    <div id="financial_support"
         hx-post=""
         hx-trigger="change"
         hx-swap="show:bottom"
         hx-include="this"
    >{{ financial_support.content | safe }}</div>
  </section>
{% endblock content %}
