{% extends "base_flow.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="help-background"></div>
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>Dach</h1>
        </div>
      </div>
      <div class="help"></div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="heating" class="main">{{ heating.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div id="heating_hydraulic"
         hx-post=""
         hx-trigger="change"
         hx-include="this">{{ heating_hydraulic.content | safe }}</div>
    <div class="step-question">
      <div class="step-container">
        <div id="heating_details"
             hx-post=""
             hx-trigger="change"
             hx-include="this"
             class="main">{{ heating_details.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div id="heating_storage">{{ heating_storage.content | safe }}</div>
  </section>
{% endblock content %}
