{% extends "base_footer_button.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="help-background"></div>
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>Heizung</h1>
        </div>
      </div>
      <div class="help"></div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="heating"
          hx-post=""
          hx-trigger="keyup change delay:500ms, change"
          hx-include="this"
          class="main">{{ heating.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div id="heating_hydraulic"
         hx-post=""
         hx-trigger="change"
         hx-include="this">{{ heating_hydraulic.content | safe }}</div>
    <div class="step-question">
      <div class="step-container">
        <div id="heating_details"
             hx-post=""
             hx-trigger="change"
             hx-include="this"
             class="main">{{ heating_details.content | safe }}
             </div>
        <div class="help"></div>
      </div>
    </div>
    <div id="heating_storage"
      hx-post=""
      hx-trigger="keyup change delay:500ms"
      hx-include="this">{{ heating_storage.content | safe }}</div>
  </section>
<script>
    // Listen for HTMX events and handle stop if user hasn't filled out entire form
    document.addEventListener('htmx:beforeRequest', (event) => {
        console.log("inside beforeRequest")
        const form = event.target.closest('#heating_details');
        if (!form) return;
        console.log(form)

        const requiredFields = form.querySelectorAll('input[required]');
        let allValid = true;

        requiredFields.forEach(field => {
            const group = form.querySelectorAll(`input[name="${field.name}"]`);
            if (!Array.from(group).some(input => input.checked)) {
                allValid = false;
            }
        });

        if (!allValid) {
            event.preventDefault(); // Prevent the HTMX request
        }
    });
  </script>
{% endblock content %}
