{% extends "base_footer_button.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>Heizung</h1>
        </div>
      </div>
      <div class="help"></div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="heating_year"
          hx-post=""
          hx-trigger="keyup change delay:500ms, change"
          hx-include="this"
          class="main">{{ heating_year.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="heating_storage_exists"
             hx-post=""
             hx-trigger="change"
             hx-include="this"
             class="main">{{ heating_storage_exists.content | safe }}
             </div>
        <div class="help"></div>
      </div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="heating_storage_capacity_known"
             hx-post=""
             hx-trigger="change"
             hx-include="this"
             class="main">{{ heating_storage_capacity_known.content | safe }}
             </div>
        <div class="help"></div>
      </div>
    </div>
    <div id="heating_storage_capacity"
      hx-post=""
      hx-trigger="keyup change delay:500ms"
      hx-include="this">{{ heating_storage_capacity.content | safe }}</div>
  </section>
{% endblock content %}
