{% extends "base.html" %}

{% block main %}
  <div class="lp-header">
    <div class="lp-header__container container">
      <h1>Planungshilfe für Sanierungsprojekte</h1>
      <p class="lp-header__intro">
        Das Tool analysiert die Kosten-Nutzen-Effizienz von Modernisierungsprojekten an Gebäuden.
        Es richtet sich an Hauseigentümer*innen, Wohnungseigentümer-gemeinschaften sowie
        Wohnungsverwaltungen und zeigt die Einsparpotenziale bei Sanierungsmaßnahmen auf.
      </p>
      <div class="lp-header__boxes">
        <div class="lp-header__box lp-header__box--main">
          <div class="h-100 d-flex flex-column align-items-left justify-content-between">
            <div class="mb-3">
              <ul>
                <li>Ich bin Hauseigentümer*in</li>
                <li>Ich bin Vermieter*in</li>
                <li>Ich gehöre zu einer Wohnungseigentümer*innengemeinschaft oder Wohnungsverwaltung</li>
              </ul>
            </div>
            <a href="{% url 'heat:intro_inventory' %}" class="btn btn-secondary">Starten</a>
          </div>
        </div>
        <div class="lp-header__box">
          <div class="h-100 d-flex flex-column align-items-left justify-content-between">
            <div class="text-left">
              <ul>
                <li>Ich bin Mieter*in</li>
              </ul>
            </div>
            <a href="{% url 'heat:dead_end_tenant' %}" class="btn btn-secondary">Infos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lp-content">
    <div class="container">
      Test
    </div>
  </div>
{% endblock main %}
