{% extends "base.html" %}

{% block main %}
  <div class="container">
    <h1>building dialogue</h1>
    <p>
      Das Tool analysiert die Kosten-Nutzen-Effizienz von Modernisierungsprojekten an Gebäuden.
      Es richtet sich an Hauseigentümer*innen, Wohnungseigentümer-gemeinschaften sowie
      Wohnungsverwaltungen und zeigt die Einsparpotenziale bei Sanierungsmaßnahmen auf.
    </p>
    <div class="row mt-4">
      <div class="col-12 col-md-6">
        <div class="border p-4 h-100">
          <div class="mb-3">
            <ul>
              <li>Ich bin Hauseigentümer*in</li>
              <li>Ich bin Vermieter*in</li>
              <li>Ich gehöre zu einer Wohnungseigentümer*innengemeinschaft oder Wohnungsverwaltung</li>
            </ul>
          </div>
          <div class="input-group">
            <input type="text"
                   id="postalCode"
                   class="form-control"
                   placeholder="Postleitzahl: Bsp 45328"
                   title="Ihre Postleitzahl erhöht die Berechnungsgenauigkeit. Sie wird ausschließlich für präzisere Wetterdaten verwendet."
                   alt="Text der erklärt, wofür die Postleitzahl genutzt wird" />
            <a href="{% url 'heat:intro_consumption' %}" class="btn btn-dark">Starten</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="border p-4 h-100 d-flex flex-column align-items-left justify-content-between">
          <div class="text-left">
            <ul>
              <li>Ich bin Mieter*in</li>
            </ul>
          </div>
          <a href="{% url 'heat:dead_end_tenant' %}" class="btn btn-secondary">Infos</a>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
