{% extends "base_footer_button.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>Heizung & Warmwasser</h1>
        </div>
      </div>
      <div class="help"></div>
    </div>
    <div id="heating_source" hx-post="" hx-trigger="change" hx-swap="show:bottom" hx-include="this">{{ heating_source.content | safe }}</div>
    <div class="step-question">
      <div class="step-container">
        <div id="solar_thermal_exists"
          hx-post=""
          hx-trigger="change"
          hx-swap="show:bottom"
          hx-include="this"
          class="main">{{ solar_thermal_exists.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="solar_thermal_area_known"
            hx-post=""
            hx-trigger="change"
            hx-swap="show:bottom"
            hx-include="this"
            class="main">{{ solar_thermal_area_known.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="solar_thermal_area"
          hx-post=""
          hx-trigger="keyup change delay:500ms"
          hx-swap="show:bottom"
          hx-include="this"
          class="main">{{ solar_thermal_area.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
  </section>
{% endblock content %}
