{% extends "base_footer_button.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>Dämmungsmaßnahmen</h1>
          Wurde das Gebäude nachträglich gedämmt? <br>
          Wenn ja, tragen Sie hier das Jahr der jeweiligen Maßnahme ein. Ein leeres Feld entspricht keine Dämmung.
        </div>
      </div>
      <div class="help"></div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="insulation"
        hx-post=""
        hx-trigger="keyup change delay:500ms, change"
        hx-include="this">{{ insulation.content | safe }}</div>
      </div>
    </div>
  </section>
{% endblock content %}
