{% extends "base.html" %}

{% block content %}
  <div class="container my-5">
    <h2>Schritt 2: Bestandsanalyse</h2>
    <p>
      In der Bestandsanalyse wird der aktuelle Zustand Ihres Gebäudes umfassend untersucht, um eine solide Grundlage für zukünftige Modernisierungsmaßnahmen zu schaffen.
    </p>
    <p>Dazu benötigen wir von Ihnen:</p>
    <ul>
      <li>Grundrisse und Baupläne</li>
      <li>Energieausweis</li>
      <li>Heizkostenabrechnungen</li>
      <li>Dokumentationen zur Heizanlage</li>
      <li>Wartungsprotokolle</li>
    </ul>
    <p>Mit diesen Daten können wir Ihnen am Ende des Schritts Folgendes mitteilen:</p>
    <ul>
      <li>Eine detaillierte Bewertung des aktuellen Zustands Ihres Gebäudes und der bestehenden technischen Anlagen</li>
      <li>Eine Einschätzung des Energieverbrauchs und mögliche Einsparpotenziale</li>
      <li>Vorschläge für konkrete Maßnahmen zur Verbesserung der Energieeffizienz und des Wohnkomforts</li>
    </ul>
  </div>
{% endblock content %}
