{% extends "base_footer_button.html" %}

{% block content %}
  <div class="main-content">
    <div>
      <div class="category-header">
        <h2 class="category-title">
          <span class="category-title__step">Schritt 2:</span>
          <span class="category-title__name">Bestandsanalyse</span>
        </h2>
        <div aria-hidden="true">
          <img src="/static/images/svg/category-bestandsanalyse.svg" alt="Darstellung eines Hauses">
        </div>
      </div>
      <div class="category-content">
        <p>
          In der Bestandsanalyse wird der aktuelle Zustand Ihres Gebäudes umfassend untersucht, um eine solide Grundlage für zukünftige Modernisierungsmaßnahmen zu schaffen.
        </p>
        <p>Dazu benötigen wir von Ihnen:</p>
        <div class="category-content__list category-content__list--document">
          <ul>
            <li>Grundrisse und Baupläne</li>
            <li>Energieausweis</li>
            <li>Heizkostenabrechnungen</li>
            <li>Dokumentationen zur Heizanlage</li>
            <li>Wartungsprotokolle</li>
          </ul>
        </div>
        <p>Mit diesen Daten können wir Ihnen am Ende des Schritts Folgendes mitteilen:</p>
        <div class="category-content__list category-content__list--check">
          <ul>
            <li>Eine detaillierte Bewertung des aktuellen Zustands Ihres Gebäudes und der bestehenden technischen Anlagen</li>
            <li>Eine Einschätzung des Energieverbrauchs und mögliche Einsparpotenziale</li>
            <li>Vorschläge für konkrete Maßnahmen zur Verbesserung der Energieeffizienz und des Wohnkomforts</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
