{% extends "base_footer_button.html" %}

{% block content %}
  <div class="container my-5">
    <h2>Schritt 1: Verbrauchsanalyse</h2>
    <p>
      Um das Potenzial Ihres Gebäudes genau einschätzen zu können, analysieren wir zuerst den aktuellen Energieverbrauch.
    </p>
    <p>Dazu benötigen wir von Ihnen:</p>
    <ul>
      <li>Basisdaten Ihres Gebäudes</li>
      <li>Informationen über das verwendete Heizsystem</li>
      <li>Verbrauchsdaten für mindestens einen Abrechnungszeitraum</li>
    </ul>
    <p>Mit diesen Daten können wir Ihnen am Ende des Schritts Folgendes mitteilen:</p>
    <ul>
      <li>Den Energieverbrauch Ihres Gebäudes</li>
      <li>Den Vergleich zu ähnlichen Gebäuden</li>
      <li>Den Einfluss Ihres Energieverbrauchs auf das Klima</li>
    </ul>
    <p>Bitte halten Sie Verbrauchsdaten wie Energiekostenabrechnungen, Abschlagszahlungen oder Zählerstände bereit.</p>
  </div>
{% endblock content %}
