{% extends "base_footer_button.html" %}

{% block content %}
  <div class="main-content">
    <div>
      <div class="category-header">
        <h2 class="category-title">
          <span class="category-title__step">Schritt 2:</span>
          <span class="category-title__name">Sanierung</span>
        </h2>
        <div aria-hidden="true">
          <img src="/static/images/svg/category-sanierung.svg" alt="Darstellung eines Hauses">
        </div>
      </div>
      <div class="category-content">
        <p>
          Nachdem Sie die Verbrauchs- und Bestandsanalyse abgeschlossen haben, können Sie im nächsten Schritt bis zu drei Sanierungsszenarien auswählen und berechnen lassen. Jedes Szenario ermöglicht es Ihnen, verschiedene Sanierungsmaßnahmen und Technologiewechsel zu kombinieren und mit Ihrem aktuellen Zustand zu vergleichen.
        </p>
        <p>
          Bei der Auswahl eines Technologiewechsels bestimmen Sie, welche der folgenden Primärheizungen zum Einsatz kommen soll:
        </p>
        <div class="category-content__list category-content__list--check">
          <ul>
            <li>Fernwärme</li>
            <li>Biomasseheizung</li>
            <li>Wärmepumpe</li>
            <li>Effiziente Öl- und Gasheizung</li>
            <li>Heizstab</li>
            <li>BHKW</li>
          </ul>
        </div>
        <p>
          Weiterhin können Sie Zusatzheizungen oder Technologien zur Eigenbedarfsdeckung wie Solarthermie und Photovoltaik integrieren, um das Szenario passend zu Ihrem Gebäude und Ihren Anforderungen zu gestalten.
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
