{% extends "base_footer_button.html" %}

{% block content %}
  <div class="main-content">
    <div>
      <div class="category-header">
        <h2 class="category-title">
          <span class="category-title__step">Schritt 1:</span>
          <span class="category-title__name">Bestandsanalyse: Ihr Gebäude im Überblick</span>
        </h2>
        <div aria-hidden="true">
          <img src="/static/images/svg/category-bestandsanalyse.svg" alt="Darstellung eines Hauses">
        </div>
      </div>
      <div class="category-content">
        <p>In der Bestandsanalyse erfassen wir Ihre Angaben zum Gebäude, um es vereinfacht in unserem Tool abzubilden.
          Wir ordnen Ihr Gebäude einem von rund 300.000 Gebäudestandards zu. Diese Zuordnung erfolgt basierend auf einer
          Gebäudetypisierung nach dem TABULA-Konzept.</p>
        <p>Dieses Konzept haben wir um verschiedene Heiztechnologien und Sanierungsstandards erweitert. Für jede
          Kombination aus Gebäudetypologie und Heiztechnologie betrachten wir sowohl den aktuellen Zustand als auch
          mögliche Sanierungsvarianten mit verschiedenen Modernisierungsoptionen.</p>
        <p>Um den Energiebedarf der Gebäudetypologien zu bestimmen, nutzen wir den Sanierungsrechner der KfW.
          Die daraus gewonnenen Werte fließen in die anschließende Optimierungsberechnung für Ihr Gebäude ein.</p>

        <p><b>Für die Bestandsanalyse benötigen wir von Ihnen:</b></p>
        <div class="category-content__list category-content__list--document">
          <ul>
            <li><b>Baujahr des Gebäudes</b></li>
            <li><b>Angaben zum Gebäude</b>, wie z.B. Gebäudeart und Anzahl der Personen</li>
            <li><b>Ggf. Leistung der Photovoltaik- und Solarthermieanlage</b></li>
          </ul>
        </div>
        <p>Unser Tool baut auf andere Methoden auf und erweitert diese um Energiesystemmodellierung:</p>
        <div class="category-content__infobox">
          <p><b>TABULA Konzept</b></p>
          <p>Das <a href="https://webtool.building-typology.eu/#bm" target="_blank">TABULA Konzept</a> unterteilt
            den Wohngebäudebestand in verschiedene Größen- und Altersklassen und bildet eine „Gebäudetyp-Matrix“ ab.
            Diese Matrix beschreibt typische Gebäudetypen anhand exemplarischer Gebäude, die die üblichen Bauweisen und
            energetischen Eigenschaften darstellen. Auf dieser Grundlage können wir die energetische Performance und
            Sanierungspotenziale besser bewerten.</p>
        </div>
        <div class="category-content__infobox">
          <p><b>Sanierungsrechner</b></p>
          <p>Der <a href="https://sanierungsrechner.kfw.de" target="_blank">Sanierungsrechner</a> ist ein Online-Tool der
          KfW zur Berechnung von Energieeinsparungen und Kosten durch Modernisierungsmaßnahmen. Wir verwenden dessen
          Ergebnisse, um den Energiebedarf Ihres Gebäudes zu ermitteln. Anschließend wenden wir das Verfahren der
          Energiesystemoptimierung an, um den Einsatz unterschiedlicher Heizsysteme – einschließlich bivalenter
          Heizlösungen – detailliert zu analysieren.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
