{% extends "base_footer_button.html" %}

{% block content %}
  <div class="main-content">
    <div>
      <div class="category-header">
        <h2 class="category-title">
          <span class="category-title__step">Schritt 1:</span>
          <span class="category-title__name">Verbrauchsanalyse</span>
        </h2>
        <div aria-hidden="true">
          <img src="/static/images/svg/category-verbrauchsanalyse.svg" alt="Darstellung eines Hauses">
        </div>
      </div>
      <p>
        Um das Potenzial Ihres Gebäudes genau einschätzen zu können, analysieren wir zuerst den aktuellen Energieverbrauch.
      </p>
      <p>Dazu benötigen wir von Ihnen:</p>
      <ul>
        <li>Basisdaten Ihres Gebäudes</li>
        <li>Informationen über das verwendete Heizsystem</li>
        <li>Verbrauchsdaten für mindestens einen Abrechnungszeitraum</li>
      </ul>
      <p>Mit diesen Daten können wir Ihnen am Ende des Schritts Folgendes mitteilen:</p>
      <ul>
        <li>Den Energieverbrauch Ihres Gebäudes</li>
        <li>Den Vergleich zu ähnlichen Gebäuden</li>
        <li>Den Einfluss Ihres Energieverbrauchs auf das Klima</li>
      </ul>
      <p>Bitte halten Sie Verbrauchsdaten wie Energiekostenabrechnungen, Abschlagszahlungen oder Zählerstände bereit.</p>
    </div>
  </div>
{% endblock content %}
