{% extends "base_footer_button.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>Nächste Schritte</h1>
          <div class="info-box">
            <p>Wie geht es weiter?</p>
            <ul>
              <li>Termin für eine Energieberatung vor Ort</li>
              <li>Wo Energieberatung?</li>
              <li>Welche Kosten für Energieberatung?</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
