{% extends "base_footer_button.html" %}

{% load static %}

{% block content %}
  <div class="main-content">
    <div>
      <div class="category-header">
        <h2 class="category-title">
          <span class="category-title__name">Optimierung starten</span>
        </h2>
      </div>
      {% if all_flows_finished %}
        <p><b>Wunderbar! Ihre Eingaben sind vollständig.</b></p>
        <p>
          Jetzt wird's spannend: Mit einem Klick auf <b>„Optimierung starten“</b> beginnt die Simulation Ihrer Szenarien. Wir berechnen für Sie den energie- und kosteneffizientesten Einsatz verschiedener Heiztechnologien in Zusammenwirkung mit den von Ihnen ausgewählten Modernisierungsmaßnahmen. Nach Abschluss der Simulation(en), können Sie über den Button <b>„Weiter“</b> zur Seite <b>„Ergebnisse“</b> gelangen. Bis dahin bleibt der Button <b>„Weiter“</b> deaktiviert.
        </p>
        <div class="d-flex justify-content-between">
          <button id="btn_optimization" class="btn btn-primary" {% if not all_flows_finished %}disabled{% endif %} onclick="startOptimization();">Starten</button>
        </div>
        <div id="optimization_info" hidden>
          <p>Optimierung läuft</p>
          <div id="optimization_progress">
            0 / {{ scenarios | length }} Simulationen abgeschlossen.
          </div>
        </div>
      {% else %}
        <div class="info-box">
          <p>Leider fehlen die folgenden Eingaben noch:</p>
          <ul>
              {% for flow in not_finished_flows %}
                  <li>{{ flow }}</li>
              {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    {# TODO: Add the boxes with "Wissenswertes" here!  https://www.figma.com/design/FO5X9GisiszC709OBjHfnM/bd_Warteschlange_Optimierung?node-id=0-1&t=PYPwFqceKANzq148-1 #}
  </div>

  {{ scenarios | json_script:"scenarios" }}
{% endblock content %}

{% block inline_javascript %}
  {{ block.super }}
  <script type="application/javascript" src="{% static 'js/optimization.js' %}"></script>
{% endblock inline_javascript %}
