{% extends "base_footer_button.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>PV-Anlage</h1>
        </div>
      </div>
      <div class="help"></div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="pv_system"
             hx-post=""
             hx-trigger="change"
             hx-include="this"
             class="main">{{ pv_system.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="pv_system_planned"
          hx-post=""
          hx-trigger="change"
          hx-include="this"
          class="main">{{ pv_system_planned.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div id="pv_system_details"
      hx-post=""
      hx-trigger="keyup change delay:500ms"
      hx-include="this">{{ pv_system_details.content | safe }}</div>
    <div id="pv_system_battery"
      hx-post=""
      hx-trigger="keyup change delay:500ms, change"
      hx-include="this">{{ pv_system_battery.content | safe }}</div>
  </section>
{% endblock content %}
