{% extends "base_footer_button.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>PV-Anlage</h1>
          <div class="info-box">
            <p>Besitzt Ihr Gebäude bereits eine Photovoltaik-Anlage? In diesem Abschnitt erfassen wir die wichtigsten Daten,
              wie Leistung und Batteriekapazität. Wenn keine Anlage vorhanden ist oder Ihnen nicht alle Werte vorliegen,
              können Sie diesen Abschnitt einfach überspringen.</p>
            <p>Tragen Sie die bekannten Angaben ein – auch eine grobe Schätzung ist möglich.</p>
          </div>
        </div>
      </div>
      <div class="help"></div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="pv_system"
             hx-post=""
             hx-trigger="change"
             hx-swap="show:bottom"
             hx-include="this"
             class="main">{{ pv_system.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div id="pv_capacity"
      hx-post=""
      hx-trigger="keyup change delay:1000ms"
      hx-swap="show:bottom"
      hx-include="this">{{ pv_capacity.content | safe }}</div>
    <div class="step-question">
      <div class="step-container">
        <div id="pv_system_battery_exists"
          hx-post=""
          hx-trigger="change"
          hx-swap="show:bottom"
          hx-include="this"
          class="main">{{ pv_system_battery_exists.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="pv_battery_capacity_known"
          hx-post=""
          hx-trigger="change"
          hx-swap="show:bottom"
          hx-include="this"
          class="main">{{ pv_battery_capacity_known.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div id="pv_system_battery"
      hx-post=""
      hx-trigger="keyup change delay:1000ms"
      hx-swap="show:bottom"
      hx-include="this">{{ pv_system_battery.content | safe }}</div>
  </section>
{% endblock content %}
