{% extends "base_footer_button.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="help-background"></div>
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>Sanierungsübersicht</h1>
        </div>
      </div>
      <div class="help" id="flow-instance-boxes">
        {% for box in scenario_boxes %}
          <c-flow-instance-box id="{{ box.id }}" href="{{ box.href }}" title="{{ box.title }}">
          <div class="flow-instance-box-text-heating">
            {% if box.heating_choices %}
                <h4>Heizungstechnologien</h4>
                <ul>
                    {% for choice in box.heating_choices %}
                            <li>{{ choice }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
          </div>
          <div class="flow-instance-box-text-renovation">
            {% if box.renovation_choices %}
                <h4>Sanierungsmaßnahmen</h4>
                <ul>
                    {% for choice in box.renovation_choices %}
                            <li>{{ choice }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
          </div>
        </c-renovation-instance-box>
        {% endfor %}
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <form action="{% url 'heat:renovation_request' scenario='new_scenario' %}"
            method="get">
        <button class="btn btn-primary" {% if max_reached %}disabled{% endif %}>Weiteres Heizszenario</button>
      </form>
    </div>
  </section>
{% endblock content %}
