{% extends "base_footer_button.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>Sanierungsübersicht</h1>
          <div class="info-box">
            Hier fügen Sie Szenarien für den Heizungstausch und Sanierungsmaßnahmen hinzu. <br>
            Sie können bis zu 3 Szenarien berechnen.
          </div>
          <form action="{% url 'heat:renovation_request' scenario='new_scenario' %}" method="get">
            <button class="btn btn-primary" {% if max_reached %}disabled{% endif %}>Weiteres Heizszenario</button>
          </form>
        </div>
      </div>
      <div class="help" id="flow-instance-boxes">
        {% for box in scenario_boxes %}
          <c-layouts.renovation :box="box"></c-layouts.renovation>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}
