{% extends "base_footer_button.html" %}

{% block content %}
  <section class="position-relative h-100 flex-grow-1 pb-5">
    <div class="step-title">
      <div class="step-container">
        <div class="main">
          <h1>Dach</h1>
        </div>
      </div>
      <div class="help"></div>
    </div>
    <div id="flat_roof" hx-post="" hx-trigger="change" hx-include="this">{{ flat_roof.content | safe }}</div>
    <div class="step-question">
      <div class="step-container">
        <div id="roof_orientation" hx-post="" hx-trigger="change" hx-include="this" class="main">{{ roof_orientation.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="roof_inclination_known"
             hx-post=""
             hx-trigger="change"
             hx-include="this"
             class="main">{{ roof_inclination_known.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
    <div class="step-question">
      <div class="step-container">
        <div id="roof_inclination"
          hx-post=""
          hx-trigger="keyup change delay:500ms"
          hx-include="this"
          class="main">{{ roof_inclination.content | safe }}</div>
        <div class="help"></div>
      </div>
    </div>
  </section>
{% endblock content %}
