.category-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1.5rem;
  border-bottom: 4px solid $green-400;
  margin-bottom: 2rem;
}

.category-title {
  color: $body-color;

  &__step {
    display: block;
    font-size: $font-size-xl;
    font-weight: $font-weight-light;
  }

  &__name {
    display: block;
    font-size: $font-size-2xl;
    font-weight: $font-weight-bold;
  }
}

.category-content {
  padding-bottom: 4rem;

  p {
    color: $grey-500;
  }

  &__list {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: $grey-100;

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
    }

    ul li {
      position: relative;
      padding-left: 2rem;
      margin-bottom: 0.75rem;
      color: $body-color;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    ul li::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--document ul li::before {
      background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%22100pt%22%20height%3D%22100pt%22%20version%3D%221.1%22%20viewBox%3D%220%200%20100%20100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m87.699%2018.398-15-15c-0.5-0.5-1.1992-0.80078-2-0.80078l-42.5%200.003906c-1.6016%200-2.8008%201.3008-2.8008%202.8008v11h-11c-1.6016%200-2.8008%201.3008-2.8008%202.8008v75.5c0%201.6016%201.3008%202.8008%202.8008%202.8008h57.5c1.6016%200%202.8008-1.3008%202.8008-2.8008v-11h11c1.6016%200%202.8008-1.3008%202.8008-2.8008v-60.504c0-0.79688-0.30078-1.5-0.80078-2zm-6%202h-11.098v-11.098zm-12.699%2071.5h-51.898v-69.898h8.1992v58.898c0%201.6016%201.3008%202.8008%202.8008%202.8008h40.898zm-38-13.898v-69.898h33.898v15.102c0%201.6016%201.3008%202.8008%202.8008%202.8008h15.102v51.996z%22%2F%3E%3Cpath%20d%3D%22m71%2062.602h-28.102c-1.6016%200-2.8008%201.3008-2.8008%202.8008%200%201.6016%201.3008%202.8008%202.8008%202.8008l28.102-0.003906c1.6016%200%202.8008-1.3008%202.8008-2.8008%200-1.5977-1.3008-2.7969-2.8008-2.7969z%22%2F%3E%3Cpath%20d%3D%22m71%2048.5h-28.102c-1.6016%200-2.8008%201.3008-2.8008%202.8008s1.3008%202.8008%202.8008%202.8008h28.102c1.6016%200%202.8008-1.3008%202.8008-2.8008s-1.3008-2.8008-2.8008-2.8008z%22%2F%3E%3Cpath%20d%3D%22m71%2034.5h-28.102c-1.6016%200-2.8008%201.3008-2.8008%202.8008s1.3008%202.8008%202.8008%202.8008h28.102c1.6016%200%202.8008-1.3008%202.8008-2.8008s-1.3008-2.8008-2.8008-2.8008z%22%2F%3E%3Cpath%20d%3D%22m42.898%2026.102h11.5c1.6016%200%202.8008-1.3008%202.8008-2.8008%200-1.6016-1.3008-2.8008-2.8008-2.8008h-11.5c-1.6016%200-2.8008%201.3008-2.8008%202.8008%200.003906%201.5%201.2031%202.8008%202.8008%202.8008z%22%2F%3E%3C%2Fsvg%3E");
    }

    &--check ul li::before {
      background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%22100pt%22%20height%3D%22100pt%22%20version%3D%221.1%22%20viewBox%3D%220%200%20100%20100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m35.195%2083.945c-1.4297%200-2.8594-0.54687-3.9531-1.6367l-27.105-27.105c-2.1836-2.1836-2.1836-5.7188%200-7.9023%202.1836-2.1836%205.7227-2.1836%207.9023%200l23.156%2023.156%2052.766-52.766c2.1836-2.1836%205.7188-2.1836%207.9023%200%202.1836%202.1836%202.1836%205.7188%200%207.9023l-56.719%2056.715c-1.0898%201.0938-2.5195%201.6367-3.9492%201.6367z%22%2F%3E%3C%2Fsvg%3E");
    }
  }

  &__infobox {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: $green-050;
    border: 1px solid $green-200;
  }
}