.lp-header {
  background-color: #DCFCE7;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media screen and (min-width: $breakpoint-lg) {
    background-color: #FFFFFF;
    background-image: url("../images/illustrations/bd_lp_header.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }

  @media screen and (min-width: $breakpoint-xl) {
    border-left: 3rem solid #FFFFFF;
    border-right: 3rem solid #DCFCE7;
  }

  @media screen and (min-width: $breakpoint-2xl) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  @media screen and (min-width: $breakpoint-3xl) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  h1 {
    font-size: $font-size-2xl;
    font-weight: 700;
    color: $body-color;
    padding-bottom: 1rem;

    @media screen and (min-width: $breakpoint-lg) {
      font-size: 2.5rem;
      padding-bottom: 2rem;
    }
  }

  &__intro {
    font-size: $font-size-md;
    color: $body-color;
    max-width: 28rem;

    @media screen and (min-width: $breakpoint-lg) {
      font-size: $font-size-lg;
      color: $grey-500;
    }

    @media screen and (min-width: $breakpoint-2xl) {
      max-width: 36rem;
    }

    @media screen and (min-width: $breakpoint-2xl) {
      max-width: 40rem;
    }

    @media screen and (min-width: $breakpoint-3xl) {
      max-width: 44rem;
    }
  }

  &__boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4rem;

    @media screen and (min-width: $breakpoint-md) {
      flex-direction: row;
    }
  }

  &__box {
    background-color: $color-white;
    padding: 1.5rem;
    border-radius: $border-radius;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    margin-bottom: 1rem;

    @media screen and (min-width: $breakpoint-md) {
      width: 33.33%;
      padding: 2rem;
      margin-bottom: 0;
    }

    &--main {
      width: 100%;
      margin-right: 2rem;

      @media screen and (min-width: $breakpoint-md) {
        width: 66.66%;
      }
    }

    & > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }

    &-list {
      margin-bottom: 1.5rem;
      color: $body-color;
      font-size: $font-size-sm;

      @media screen and (min-width: $breakpoint-md) {
        font-size: $font-size-md;
      }
    }

    a {
      width: 100%;
    }
  }
}