<div class="flow-instance-box {% if request.path == box.href %}active{% endif %} {{ box.type_class }}"
     id="{{ box.id }}">
  <div class="flow-instance-box-header">
    <p>{{ box.title }}</p>
    <div class="button-container">
    {% if not request.path == "/results/" %}
      <form hx-post="{% url 'heat:delete_flow' %}"
            hx-target="body"
            class="delete-flow-instance-form">
        {% csrf_token %}
        <button type="submit"
                name="delete_flow"
                value="{{ box.id }}"
                class="delete-flow-instance-button">
                <svg width="20" height="20" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                  <path d="m56.102 50 22.699-22.699c1.6992-1.6992 1.6992-4.3984 0-6.1016-1.6992-1.6992-4.3984-1.6992-6.1016 0l-22.699 22.699-22.699-22.598c-1.6992-1.6992-4.3984-1.6992-6.1016 0-1.6992 1.6992-1.6992 4.3984 0 6.1016l22.699 22.598-22.598 22.699c-1.6992 1.6992-1.6992 4.3984 0 6.1016 1.6992 1.6992 4.3984 1.6992 6.1016 0l22.598-22.699 22.699 22.699c1.6992 1.6992 4.3984 1.6992 6.1016 0 1.6992-1.6992 1.6992-4.3984 0-6.1016z"/>
                </svg>
              </button>
      </form>
      {% endif %}
    </div>
  </div>
  <div class="flow-instance-box-text">{{ slot }}</div>
</div>
