// Container for all scenario boxes
#flow-instance-boxes {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;

  @media screen and (min-width: $breakpoint-md) {
    flex-direction: column;
    max-width: 20rem; // Match `help` width for consistency
  }

  @media screen and (min-width: $breakpoint-2xl) {
    max-width: 32rem;
    padding: 1.5rem;
  }

  @media screen and (min-width: $breakpoint-3xl) {
    max-width: 40rem;
  }
}

// Styling for individual scenario boxes
$heating-bg: #FEF2F2;
$renovation-bg: #F0FDFA;
$text-dark: #374151;
$text-muted: #64748b;

.flow-instance-box {
  background: $color-white;
  border-radius: $border-radius;
  border: 1px solid #bdbdbd;

  .flow-instance-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #efefef;
    padding: 0.5rem 1rem;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    p {
      font-size: $font-size-md;
      font-weight: $font-weight-bold;
      color: $body-color;
      margin-bottom: 0;
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0 0 0 0.5rem;
    }
  }

  .flow-instance-box-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    h3 {
      font-size: $font-size-sm;
      font-weight: $font-weight-regular;
      text-transform: uppercase;
      color: #656565;
      margin-bottom: 0.5rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      padding: 0.25rem 0.25rem;
      border-radius: 100px;
      font-size: 13px;
      line-height: 16px;
      font-weight: $font-weight-regular;
      width: 7.75rem;
      hyphens: auto;
      overflow-wrap: break-word;
      word-wrap: break-word;

      @media screen and (min-width: $breakpoint-2xl) {
        width: 8.5rem;
      }

      @media screen and (min-width: $breakpoint-3xl) {
        width: 11.25rem;
      }
    }
  }

  .flow-instance-box-text-heating ul li {
    background: $heating-bg;
    color: #7b2525;

    svg {
      height: 20px !important;
      width: 20px !important;
    }

    svg path {
      stroke: #903939;
    }
  }

  .flow-instance-box-text-renovation ul li {
    background: $renovation-bg;
    color: #1b6a68;

    svg {
      height: 20px !important;
      width: 20px !important;
    }

    svg path {
      stroke: #377b7a;
    }
  }
}