@import '../base/variables';

.input-unit {
  display: flex;
  align-items: center;

  span {
    padding: 0 1rem;
  }
}

.form-control,
.form-select {
  &--sm {
    max-width:12.5rem;
  }

  &--md {
    max-width: 24rem;
  }
}

fieldset legend {
  font-size: $font-size-md;
}

.step-question {
  div:has(> label) {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  div:has(> fieldset) {
    margin-bottom: 1rem;
  }

  label {
    display: inline-flex;
    align-items: center;
    font-size: $font-size-md;
    color: $grey-500;
    cursor: pointer;
    margin-right: 0.5rem;
  }

  input[type="checkbox"],
  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid $grey-500;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    cursor: pointer;
    position: relative;
    outline: none;
    background: $color-white;
    display: inline-block;
  }

  input[type="radio"]:checked {
    background: $green-500;
    border: none;
  }

  input[type="checkbox"]:checked {
    background: $green-500;
    border-color: $green-500;
  }

  input[type="checkbox"]:checked::before {
    content: "✔";
    display: block;
    font-size: 12px;
    color: $color-white;
    text-align: center;
    line-height: 16px;
  }

  input[type="radio"] {
    border-radius: 50%;
  }

  input[type="radio"]:checked::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: $color-white;
    border-radius: 50%;
    margin: 0.25rem;
    position: relative;
  }

  input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    font-size: $font-size-md;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-top: 0.25rem;
    outline: none;
    box-sizing: border-box;
  }

  input[type="number"]:focus {
    border-color: $green-500;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
  }

  .number-group {
    margin-top: 10px;
  }
}