@import '../base/variables';

.input-unit {
  display: flex;
  align-items: center;

  span {
    padding: 0 1rem;
  }
}

.form-control,
.form-select {
  &--sm {
    max-width:12.5rem;
  }

  &--md {
    max-width: 24rem;
  }
}

fieldset legend {
  font-size: $font-size-md;
}