{% load static i18n compress django_htmx %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Building Dialouge Webapp
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Webapp für die Wärmewende" />
    <meta name="author" content="Hendrik Huyskens" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      {% compress css %}
        <link href="{% static 'vendors/bootstrap/scss/bootstrap.scss' %}"
              type="text/x-scss"
              rel="stylesheet" />
        <link href="{% static 'css/project.scss' %}"
              type="text/x-scss"
              rel="stylesheet" />
      {% endcompress %}
    {% endblock css %}
    {% block javascript %}
      {% compress js %}
        <script defer src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
        <script defer src="{% static 'vendors/htmx/js/htmx.min.js' %}"></script>
        <script defer src="{% static 'js/project.js' %}"></script>
        {% django_htmx_script %}
      {% endcompress %}
    {% endblock javascript %}
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %} d-flex flex-column h-100">
    {% block body %}
      <div class="flex-shrink-0">
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
          <div class="container-fluid px-4">
            <button class="navbar-toggler navbar-toggler-right"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">building dialogue</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="">Projektinfos<span class="visually-hidden">(aktuell)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Dokumentation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Quellen</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Kontakt</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <main class="main-view flex-grow-1">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
        {% block main %}
          {% block sidebar %}
            <div class="d-flex flex-row justify-content-between h-100">
              <section class="sidebar border-end px-4 py-3 h-100">
                <div>
                  <a class="btn btn-light" href="">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         fill="currentColor"
                         class="bi bi-arrow-left"
                         viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                    </svg>
                    Abbrechen
                  </a>
                </div>
                <div class="sidebar-nav pt-4">
                  <ul class="ps-0">
                    {% for step in index %}
                      <li class="sidebar-nav__step {{ step.index_state }}">
                        <a href="{% url step.url %}">{{ step.name }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </section>
              {% block content %}
                <section class="position-relative h-100 flex-grow-1 pb-5">
                  <div class="help-background"></div>
                  <div class="step-title">
                    <div class="step-container">
                      <div class="main">
                        <h1>Angaben zu Gebäude</h1>
                      </div>
                    </div>
                    <div class="help"></div>
                  </div>
                  <div class="step-text">
                    <div class="step-container">
                      <div class="main">
                        <span>Um das Potenzial Ihres Gebäudes genau einschätzen zu können, analysieren wir zuerst den aktuellen Energieverbrauch.</span>
                      </div>
                    </div>
                    <div class="help"></div>
                  </div>
                  <form action="">
                    <div class="step-question">
                      <div class="step-container">
                        <div class="main">
                          <label for="" class="form-label">Zeitraum</label>
                          <div class="input-unit">
                            <input type="date" class="form-control form-control--sm" />
                            <span class="form-text">bis</span>
                            <input type="date" class="form-control form-control--sm" />
                          </div>
                        </div>
                      </div>
                      <div class="help"></div>
                    </div>
                    <div class="step-question">
                      <div class="step-container">
                        <div class="main">
                          <label for="" class="form-label">Heizungsverbrauch</label>
                          <div class="input-unit">
                            <input type="number" class="form-control form-control--sm" />
                            <span class="form-text">kWh</span>
                          </div>
                        </div>
                      </div>
                      <div class="help"></div>
                    </div>
                    <div class="step-question">
                      <div class="step-container">
                        <div class="main">
                          <label for="" class="form-label">Anzahl Wohneiheiten</label>
                          <input type="number" class="form-control form-control--sm" />
                        </div>
                      </div>
                      <div class="help">
                        <span>Wohneiheiten:</span>Die Anzahl der Wohneinheiten gibt an, wie viele separate Wohnungen oder Wohnbereiche in einem Gebäude oder einer Immobilie vorhanden sind.
                      </div>
                    </div>
                    <div class="step-question">
                      <div class="step-container">
                        <div class="main">
                          <label for="" class="form-label">Anzahl Wohneiheiten</label>
                          <select class="form-select form-select--md"
                                  aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                      </div>
                      <div class="help"></div>
                    </div>
                    <div class="step-question">
                      <div class="step-container">
                        <div class="main">
                          <fieldset>
                            <legend class="form-label">PV-Anlage vorhanden</legend>
                            <div class="form-check">
                              <input class="form-check-input"
                                     type="radio"
                                     name="flexRadioDefault"
                                     id="flexRadioDefault1" />
                              <label class="form-check-label" for="flexRadioDefault1">Ja</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input"
                                     type="radio"
                                     name="flexRadioDefault"
                                     id="flexRadioDefault2"
                                     checked />
                              <label class="form-check-label" for="flexRadioDefault2">Nein</label>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                      <div class="help"></div>
                    </div>
                    <div class="step-question">
                      <div class="step-container">
                        <div class="main">
                          <fieldset>
                            <legend class="form-label">Select Options</legend>
                            <div class="form-check">
                              <input class="form-check-input"
                                     type="checkbox"
                                     value=""
                                     id="flexCheckDefault" />
                              <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input"
                                     type="checkbox"
                                     value=""
                                     id="flexCheckChecked"
                                     checked />
                              <label class="form-check-label" for="flexCheckChecked">Checked checkbox</label>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                      <div class="help">
                        <span>Wohneiheiten:</span>Die Anzahl der Wohneinheiten gibt an, wie viele separate Wohnungen oder Wohnbereiche in einem Gebäude oder einer Immobilie vorhanden sind.
                      </div>
                    </div>
                  </form>
                </section>
              {% endblock content %}
            </div>
          {% endblock sidebar %}
        {% endblock main %}
      </main>
      <footer class="footer mt-auto">
        {% block footer %}
          <div class="footer bg-white border-top">
            <div class="container-fluid d-flex justify-content-end py-2 px-4">
              <ul>
                <li class="ps-3">
                  <a href="">Impressum</a>
                </li>
                <li class="ps-3">
                  <a href="">Datenschutz</a>
                </li>
              </ul>
            </div>
          </div>
        {% endblock footer %}
      </footer>
    {% endblock body %}
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
