{% extends "base.html" %}

{% block footer %}
  <div class="footer bg-white border-top">
    <div class="container-fluid d-flex justify-content-center py-2 px-4">
      <div class="d-flex gap-3">
        {# Back button is a simple link to given URL #}
        {% if back_kwargs %}
          <!-- djlint:off H025 -->
          <a class="btn btn-light" href="{% url back_url scenario=back_kwargs %}">
            <!-- djlint:on -->
          {% else %}
            <a class="btn btn-light" href="{% url back_url %}">
            {% endif %}
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-arrow-left"
                 viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
            <span class="ps-2">Zurück</span>
          </a>
          {# Next button in flow is always a HTMX call to current page including several form inputs. #}
          {% if next_includes %}
            <a class="btn btn-primary" hx-post="" hx-include="{{ next_includes }}">
              <span class="ps-2" id="next_button">Weiter</span>
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="16"
                   height="16"
                   fill="currentColor"
                   class="bi bi-arrow-right"
                   viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
              </svg>
            </a>
          {% endif %}
          {% if next_url %}
            {% if next_kwargs %}
              <!-- djlint:off H025 -->
              <a class="btn btn-primary"
                 href="{% url next_url scenario=next_kwargs %}">
                <!-- djlint:on -->
              {% else %}
                <a class="btn btn-primary" href="{% url next_url %}">
                {% endif %}
                <span class="ps-2">Weiter</span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-arrow-right"
                     viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg>
              </a>
            {% else %}
            {% endif %}
          </div>
        </div>
      </div>
      {{ block.super }}
    {% endblock footer %}
