<a href="{{ href }}">
  <!-- djlint:off H021 -->
  <div class="border border-neutral-200 rounded-lg w-full max-w-[20rem] p-4 h-full flex flex-col bg-neutral-50 transition-transform duration-200 hover:scale-105 hover:shadow-lg"
       id="{{ id }}">
    <div class="flex align-items pb-2">
      <svg width="24"
           height="24"
           version="1.1"
           viewBox="0 0 100 100"
           xmlns="http://www.w3.org/2000/svg">
        <path d="{{ icon_path }}" />
      </svg>
      <h2 class="text-lg font-semibold ps-2" style="color:#262626">{{ title }}</h2>
    </div>
    <div class="text-base flex-grow">{{ text }}</div>
    <!-- djlint:on -->
  </div>
</a>
